@page "/"

<div style="font-family: 'Segoe UI', Tahoma, Helvetica, sans-serif">

    @functions {
        string hello
        {
            get
            {
                return "Hello Blazor World - Experimental Web Assembly & Razor";
            }
        }
    }

    <strong>@hello @now</strong>

    @functions {
        string now
        {
            get
            {
                return $"at {DateTime.Now.ToLongDateString()} on {DateTime.Now.ToLongTimeString()}";
            }
        }
    }

    <p />
    <div style="color: #31708f; background-color: #d9edf7; border-color: #bce8f1; width: 80%;">
        NOTE: Blazor is an unsupported experimental web framework that shouldn't be used for production workloads at this time (September 2018) <a href="https://blazor.net/index.html" target="_blank">more info</a>
    </div>
    
    <p />
    <a href="https://blazor.net/docs/get-started.html" target="_blank">Get started</a>

</div>
